@font-face {
    font-family: "Roboto Regular";
    src: url(../fonts/Roboto/static/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto Bold";
    src: url(../fonts/Roboto/static/Roboto-Bold.ttf);
}

.container {
    display: flex;
    box-shadow: 1px 10px 10px  rgba(0, 0, 0, 0.151);
    justify-content: space-around;
    gap: 5rem;    
    align-items: center;
    padding-bottom: 1rem;
    padding-top: 1rem;

}

nav {
    font-size:large;
}
h2 {
    font-family: "Roboto Bold";
    color: brown;
}
#nav {
    display: flex;
    gap: 5rem;
    justify-content: center;
    

}
body {
    margin: 0;
    width: 100%;
    
}

.destinations {
    display: flex;
    justify-content: center;
    gap: 3rem;
    border: 1px solid rgb(255, 0, 0);

}

.destination {
    width: 20%;
    height: 70vh;
    margin-top: 3rem;
    border: 2px solid black;
    border-radius: 2%;
    overflow: hidden;
    position: relative;
    box-shadow: 1px 8px 10px  rgba(0, 0, 0, 0.726);
}

.destination-image {
    width: 100%;
    height: 200px;
}

.destination-image img {
   width: 100%;
   height: 100%; 
   object-fit: cover;
}

.destination-content {
    margin: 2rem;
}

.btn { 
    position: absolute;
    padding: 3%;
    transform: translate(-50%);
    left: 50%;
    text-decoration: none;
    bottom: 3%;
    

}

a {
    text-decoration: none;

}
li {
    list-style: none;
}
.btn-paris {
    background-color: blue;
    color: white;
}
.btn-tokyo {
    background-color: orange;
    color: white;
}

.btn-Newyork {
    background-color: purple;
    color: white;
}
#logo {

    height: 50% ;

}