@font-face {
    font-family: "Roboto Regular";
    src: url(../fonts/Roboto/static/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto Bold";
    src: url(../fonts/Roboto/static/Roboto-Bold.ttf);
}

.container {
    display: flex;
    box-shadow: 1px 10px 10px  rgba(0, 0, 0, 0.151);
    justify-content: space-around;
    gap: 5rem;

    

}
h2 {
    font-family: "Roboto Bold";
    color: brown;
}
#nav {
    display: flex;
    gap: 5rem;
    justify-content: center;

}
body {
    margin: 0;
}
main {
    display: flex;
    gap: 2rem;
    width: 10vh;
    height: 10vh;
}

.img2 {
    width: 60vh;
    height: 50vh;
}

section {
    border: 1px solid rgb(255, 0, 0);
}

.container2 {
    display: flex;
    justify-content:space-around;
    gap: 3rem;
    margin-top: 5vh;
    border: 1px solid black;
    block-size: 100vh;
}
